{% extends "layout.html" %} {% block content %}
<!DOCTYPE html>
<link
  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<html>
  <head>
    <title>Chatbot</title>
    <link
    rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='main.css')}}"
    />
    <!-- include javascript api for google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLh7Ne17_AOYlYWTnqjLwphi6_czkVM30&libraries=places"></script>
  </head>

  <body>
    <div class="container-fluid d-flex h-100">
        <div class="col h-100 chat">
          <div class="card">
            <div class="card-header msg_head">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img
                    src="\static\chatbot icon.jpg"
                    class="rounded-circle user_img"
                  />
                  <span class="online_icon"></span>
                </div>
                <div class="user_info">
                  <span>AgriMar</span>
                  <p>Your Friendly Agriculture Assistant</p>
                </div>
              </div>
            </div>
            <div id="messageFormeight" class="card-body msg_card_body"></div>
            <div class="card-footer">
              <form id="messageArea" class="input-group">
                <input
                  type="text"
                  id="text"
                  name="msg"
                  placeholder="Type your message..."
                  autocomplete="off"
                  class="form-control type_msg"
                  required
                />
                <div class="input-group-append">
                  <button
                    type="submit"
                    id="send"
                    class="input-group-text send_btn"
                  >
                    <i class="fas fa-location-arrow"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="container-fluid h-100">
          <div class="col map-container">
            <div class="card">
                <div id="map-window">
                    <div id="map" style="height: 300px"></div>
                    <form action="/submit" method="POST">
                      <input type="text" id="latitude" name="latitude" placeholder="Latitude" />
                      <input
                      type="text"
                      id="longitude"
                      name="longitude"
                      placeholder="Longitude"
                      />
                      <button id="submit-btn">Submit</button>
                      <div id="success-alert" class="alert alert-success d-none" role="alert">
                        Location saved successfully!
                      </div>
                    </form>
                </div>
                <button id="location-btn">Choose Location</button>
            </div>
          </div>
        </div>
      </div>
    </div>
<script>
  $(document).ready(function () {
    $("#messageArea").on("submit", function (event) {
      event.preventDefault();
      const date = new Date();
      const str_time = date.getHours() + ":" + date.getMinutes();
      const rawText = $("#text").val();
      const userHtml = `<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">${rawText}<span class="msg_time_send">${str_time}</span></div><div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div></div>`;
      $("#text").val("");
      $("#messageFormeight").append(userHtml);
      $.ajax({
        data: {
          msg: rawText,
        },
        type: "POST",
        url: "/get",
      }).done(function (data) {
        var botHtml =
          '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="/static/chatbot icon.jpg" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' +
          data +
          '<span class="msg_time">' +
          str_time +
          "</span></div></div>";
        $("#messageFormeight").append($.parseHTML(botHtml));
      });
    });
  });
  // event listener on map to see if the the user click on the map to update the latitude and longitude
  var map;
  var marker;
  function initMap() {
  map = new google.maps.Map(document.getElementById("map"), {
      center: { lat: 32.377665, lng: -6.319866 },
      zoom: 8,
  });
  map.addListener("click", function (event) {
      if (marker) {
      marker.setMap(null);
      }
      marker = new google.maps.Marker({
      position: event.latLng,
      map: map,
      title: "Selected Location",
      icon: {
          url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png",
      },
      });
      document.getElementById("latitude").value = event.latLng.lat();
      document.getElementById("longitude").value = event.latLng.lng();
  });
        document.getElementById("latitude").addEventListener("input", updateMap);
        document.getElementById("longitude").addEventListener("input", updateMap);
        }
        function updateMap() {
        var latitude = parseFloat(document.getElementById("latitude").value);
        var longitude = parseFloat(document.getElementById("longitude").value);

        if (!isNaN(latitude) && !isNaN(longitude)) {
            if (marker) {
            marker.setMap(null);
            }
            marker = new google.maps.Marker({
            position: { lat: latitude, lng: longitude },
            map: map,
            title: "Selected Location",
            icon: {
                url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png",
            },
            });
            map.setCenter({ lat: latitude, lng: longitude });
            map.setZoom(15);
        }
        }
        // chooose location button 
        document.getElementById("location-btn").addEventListener("click", function () {
          var mapWindow = document.getElementById("map-window");
          var locationBtn = document.getElementById("location-btn");

          if (mapWindow.style.display === "none") {
              mapWindow.style.display = "block";
              locationBtn.style.display = "none"; // Hide the button when showing the map
              initMap();
          } else {
              mapWindow.style.display = "none";
              locationBtn.style.display = "block"; // Show the button when hiding the map
          }
        });

              // on submit button 
        document.getElementById("submit-btn").addEventListener("click", function () {  
        var latitude = document.getElementById("latitude").value;
        var longitude = document.getElementById("longitude").value;
        if (latitude && longitude) {
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/submit", true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        console.log(xhr.responseText);
                    } else {
                        console.error("Failed to submit form: " + xhr.statusText);
                    }
                }
            };
            xhr.send(
                "latitude=" + encodeURIComponent(latitude) +
                "&longitude=" + encodeURIComponent(longitude)
            );
        } else {
            console.error("Latitude and longitude are required.");
        }
    });

    </script>
  </body>
</html>
{% endblock content %}
